@use "./variable";

.container {
  padding: .7rem 5rem;
  max-width: 100vw;
  min-height: 100vh;
  min-width: calc(100vw - 10rem);

  @media screen and (max-width: 500px) {
    padding: .7rem 1rem !important;
  }
}

.flex_space {
  display: flex;
  justify-content: space-between;
}

.title {
  padding: 2rem;
  text-align: center;

  @media screen and (max-width: 500px) {
    padding: 2rem 0 !important;
  }
}

.flex_end {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.button {
  border: none;
  color: white;
  padding: .8rem 1.2rem;
  border-radius: .6rem;
  width: 100%;
  font-size: 1rem;
  cursor: pointer;
  background-color: variable.$wendor-color;

  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }

  .button_loading {
    animation: spin 2.5s linear infinite;
  }
}

.create_button {
  border: none;
  color: white;
  padding: .8rem 1.2rem;
  border-radius: .6rem;
  min-width: 10%;
  font-size: 1rem;
  cursor: pointer;
  background-color: variable.$wendor-color;

  @media screen and (max-width: 500px) {
    width: 100% !important;
  }
}